<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head >

    <meta charset="utf-8">
    <title>VcONNECT</title>
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="shortcut icon" href=" {% static 'social_site/images/favicon.ico' %}" />
  <link rel="stylesheet" href="{% static "social_site/css/master.css" %}">

  </head>


  <body>

    <nav class="navbar  mynav" role="navigation" id="navbar">
    			<div class="container">
            <img   class="navbar-brand " src="{% static 'social_site/images/favicon.ico' %}" alt="">
            <a class="navbar-brand"  style="font-family: 'DM Serif Text', serif;
            color: white;">VcONNECT</a>

    					<ul class="nav navbar-nav navbar-right " id="navlist">
    						{% if user.is_authenticated %}
                {% if user.person %}
                <li><a href="{% url 'posts:all' %}" class="btn btn-simple" style="font-family: 'DM Serif Text', serif;
                color: white;"><span class="glyphicon glyphicon-globe">Home</span></a></li>
                {% else %}
                <li><a href="{% url 'person:create' %}" class="btn btn-simple" style="font-family: 'DM Serif Text', serif;
                color: white;">Create Account</a></li>
                {% endif %}
                      <li ><a href="{% url 'posts:create' %}" class="btn btn-simple" style="font-family: 'DM Serif Text', serif;
                      color: white;"><span class="glyphicon glyphicon-picture"> Post</span></a></li>
                      <li ><a href="{% url 'person:all' %}" class="btn btn-simple" style="font-family: 'DM Serif Text', serif;
                      color: white;">Find Friends</a></li>

                      <li><a href="{% url 'accounts:logout' %}" class="btn btn-simple" style="font-family: 'DM Serif Text', serif;
                      color: white;">Log out</a></li>
                      {% if user.person %}
                      <li><a href="{% url 'person:userperson' %}" class="btn btn-simple" style="font-family: 'DM Serif Text', serif;
                      color: white;"><span class="glyphicon glyphicon-user"></span>Account</a></li>
                      {% endif %}
    						{% else %}

    						      <li><a href="{% url 'accounts:login' %}" class="btn btn-simple" style="font-family: 'DM Serif Text', serif;
                      color: white;">Log in</a></li>
    						      <li><a href="{% url 'accounts:signup' %}" class="btn btn-simple" style="font-family: 'DM Serif Text', serif;
                      color: white;">Sign up</a></li>

    						{% endif %}
    					</ul>



    			</div>
    		</nav>
        <div class="container mycontent">
          {% block content %}

          {% endblock %}

        </div>







  </body>
</html>
