{% extends "base.html" %}
{% block content %}
<div class="base">


    <h1 style="color:blue; font-family: 'DM Serif Text', serif;">WELCOME TO VcONNECT</h1>
    <div class="login">
 
    <div class="container">
      <div class="row">
        <div class="jumbotron">
          <h5>PLEASE LOGIN!</h5>
          <a href="{% url 'accounts:login' %}"><button type="button" name="Login" class='btn btn-large btn-primary'>Login</button></a>

        </div>

      </div>

    </div>
    </div>
    <h3 style="color:blue; font-family: 'DM Serif Text', serif;"">or</h3>
    <br>
    <div class="container">
      <div class="row">
        <div class="jumbotron">
          <h5>Create New Account</h5>
          <h5>Signup!</h5>
          <a href="{% url 'accounts:signup' %}"><button type="button" name="signup" class='btn btn-large btn-primary'>Sign Up</button></a>

        </div>

      </div>

    </div>
</div>
{% endblock %}
