{% extends "person/person_base.html" %}


{% block group_content %}

  <div class="content" align=center>
    <div  style="background:white;width:1000px;" class="jumbotron" align="center">
        <img   src="{{request.user.person.profilepic.url}}" alt="no image" height="15%" width="15%" style="border-radius:50%" \>
        <h3 align="center"><b>{{request.user.person.name}}</b></h3>

      </div>
      <h3 align=left><b>Person Description:</b></h3>
<div style="background:white;width:1000px;" class="jumbotron" align="left">

      <h3 align="left">{{request.user.person.description|safe|linebreaksbr|linebreaks}}</h3>

  {% if request.user.person.dob_in_dd_mm_yyyy %}
    <h3 align="left"><b>D.O.B. </b>{{request.user.person.dob_in_dd_mm_yyyy|date:"d-m-Y" }}</h3>
  {% endif %}
  {% if request.user.person.lives_in %}
    <h3 align="left"><b>Lives In </b>{{request.user.person.lives_in|safe }}</h3>
  {% endif %}
  {% if request.user.person.studies_at %}
    <h3 align="left"><b>Studies At </b>{{request.user.person.studies_at|safe }}</h3>
  {% endif %}
    </div>
	<h3 align=left><b>All Friends:</b></h3>

		{% for j in request.user.person.friend.all %}
		<div style="background:white;width:700px;" class="jumbotron" align="center">
		  <img src="{{j.profilepic.url}}" alt="no image"  align="left" style="border-radius:50%" \>
		<h3 ><a href="{% url 'person:single' slug=j.slug  %}">{{j.name}}</a></h3>
		</div>
		<br>
		{% endfor %}

  <h3 align=left><b>All Posts:</b></h3>

    {% for i in request.user.posts.all %}
    <div style="background:white;width:700px;" class="jumbotron">
    <img src="{{request.user.person.profilepic.url}}" alt="no image"  align="left" style="border-radius:50%" \>

    <h3 align="left"><b><a  style="color:black" href="#">{{ request.user.person }}</a></b></h3>

    <h5 align="left" style="color:blue">{{i.created_at}}</h5>
    <br>
    <hr style="color:"black";">
    <h5 align="left">{{i.caption|safe|linebreaks|linebreaksbr}}</h5>

  <div class="image" align="center">
    {% if i.cover %}
    <img src="{{i.cover.url}}" alt="no image"  \>
    {% endif %}
  </div>
  <h4 align="left" style="margin-left:25px">{{i.like.count}} Likes {{i.comments.count}} Comments</h4>
  <hr style="width:100%">


    </div>
    {% endfor %}




</div>

{% endblock %}
